extends layout

block mainContent
  h1= title
  #photos.isotope
    - each photo in photos
      div.photo-wrapper.isotope-item
        div.title 
          // a(href="/blog/"+photo._id)!= photo.title
        //- a.photo-link(href="/blog/"+photo._id)
        a.photo-link(href="#")
          img.photo(src=photo.src, alt='')
          div.colorways
            div.colorway(style="background-color:"+photo.colors[0])
            div.colorway(style="background-color:"+photo.colors[1])
            div.colorway(style="background-color:"+photo.colors[2])
            div.colorway(style="background-color:"+photo.colors[3])
            div.colorway(style="background-color:"+photo.colors[4])
  #overlay
  a#btn-settings(href="#") settings
  #panel-settings
    h2 SETTINGS / LIST OF SHIT TO DO
    ul
      li ratings ? 
      li filter by popularity
      li vote up
      li subscribe for updates

    a#btn-close-settings(href="#") close

  #panel-photo
    a#prev-photo(href="#") <
    img#main-photo(src="")
    a#next-photo(href="#") >
  
