!!!
html(lang="en")
  head
    title SARTOWALL
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block mainContent
  footer
    script(type='text/javascript', src= '//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script(type='text/javascript', src= '/javascripts/jquery.fullscreen.js')
    script(type='text/javascript', src= '/javascripts/jquery.isotope.min.js')
    script(type='text/javascript', src= '/javascripts/jquery.imagesloaded.min.js')
    script(type='text/javascript', src= '/javascripts/photos.js')