body
  font-family "Helvetica Neue", "Lucida Grande", "Arial"
  font-size 13px
  text-align center
  text-stroke 1px rgba(255, 255, 255, 0.1)
  color #555
  background-color black
  margin 0
  // overflow hidden

a
  color white
  text-decoration none

h1, h2
  margin 0
  font-size 22px
  font-family Helvetica
  color white
  margin 10px
  text-align left
  text-transform uppercase

h1 
  position absolute
  top 0
  left 0
  z-index 99999
  background-color black
  padding 10px
  margin 0

#overlay
  width 100%
  height 100%
  background-color rgba(0,0,0,0.8)
  position absolute
  top 0
  left 0
  z-index 20
  display none

#btn-settings
  top 0
  right 0
  position absolute
  height 45px
  width 125px
  background-color black
  line-height 45px
  color black
  font-size 12px
  text-transform uppercase

#btn-settings:hover
  background-color #666

#panel-settings
  padding 30px
  position absolute
  top 200px
  left 200px
  width 600px
  height 400px
  background-color black
  color white
  text-align left
  display none
  z-index 30
  ul
    list-style none
    li 
      line-height 20px

#btn-close-settings
  text-transform uppercase
  background-color #333
  padding 10px
  display block
  margin-top 100px
  width 80px
  text-align center

#photos
  text-align left
  margin-left auto
  margin-right auto
  z-index 10
  -webkit-transition -webkit-transform 0.5s ease-in, -webkit-transform-origin 0.5s ease-in
  -webkit-transform-origin 500px 0px

  .photo-wrapper
    // margin 20px
    float left
    position relative
    .photo-link
      float left
      margin 0
      padding 0
      line-height 0
    .created_at
      display none
    .title
      font-weight bold
      text-decoration underline
      background-color #eee
    .body
      background-color #ffa
    // .photo
    //   width 300px
    .colorways
      display none
      width 100px
      height 20px
      position absolute
      bottom 0
      left 0
    .colorway
      width 20px
      height 20px
      float left

#photos.zoom-in
  -webkit-transform scale(2)

#photos.zoomed-in
  -webkit-transition -webkit-transform-origin 0.5s ease-in
  .colorways 
    display block

#photos.zoomed-in .photo
  // -webkit-filter brightness(0%) sepia(80%)

#photos.zoomed-in .selected .photo
  -webkit-filter none

#panel-photo
  display none
  position absolute
  top 40px
  left 200px
  width 790px
  height 600px
  background-color black
  z-index 40
  #prev-photo,#next-photo
    font-size 40px
    width 100px
    color white
    position absolute
    top 0
    line-height 600px
  #prev-photo
    left 0
  #next-photo
    right 0
  #main-photo
    top 10px
    left 100px
    position absolute


/**** Isotope Filtering ****/

.isotope-item
  z-index 2

.isotope-hidden.isotope-item 
  pointer-events none
  z-index 1

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item 
  -webkit-transition-duration 0.8s
  -moz-transition-duration 0.8s
  -ms-transition-duration 0.8s
  -o-transition-duration 0.8s
  transition-duration 0.8s

.isotope 
  -webkit-transition-property height, width
  -moz-transition-property height, width
  -ms-transition-property height, width
  -o-transition-property height, width
  transition-property height, width


.isotope .isotope-item 
  -webkit-transition-property -webkit-transform, opacity
  -moz-transition-property    -moz-transform, opacity
  -ms-transition-property     -ms-transform, opacity
  -o-transition-property         top, left, opacity
  transition-property         transform, opacity

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition 
  -webkit-transition-duration 0s
  -moz-transition-duration 0s
  -ms-transition-duration 0s
  -o-transition-duration 0s
  transition-duration 0s
